<div class="row">

  <%# UserInfo NewBook %>
  <%= render 'users/list', user: current_user, userid: @user, book: @new_book %>

  <%# Uers一覧 %>
  <div class="col-xs-9">
    <h2> Books </h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th> Title </th>
          <th> Opinion </th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book_info| %>
          <tr>
            <td>
              <%= link_to attachment_image_tag(book_info.user, :profile_image, size: '40x40', fallback: 'no_image.jpg'), user_path(book_info.user)%>
            </td>
            <td>
              <%= link_to book_info.title, book_path(book_info.id) %> </td>
            <td>
              <%= book_info.opinion %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
